@charset "UTF-8";

#login {
    width: 990px;
    height: 300px;
}
#imagem {
   float: left;
   width: 50%;
   height: 100%; 
}
#form {
    float: right;
    width: 50%;
}
#form h1 {
    font-size: 1.8em;
}
#form p{
    font-size: 1em;
}