@charset "UTF-8";

/*
    Paleta de cores 
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html {
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
#login {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.29);
    width: 300px;
    height: 550px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
div {
    display: block;
}
#imagem {
    background-image: url(../imagens/pexels-dinnow-9444476.jpg);
    background-position: left center;
    background-size: cover;
    height: 250px;
}
#form {
    padding: 10px;
}
#form h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}
#form p{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}
.cadastro {
    background-color: #5f2c82;
    border-radius: 5px;
    margin: 10px 0px;
    text-align: center;
    height: 40px;
}
label {
    display: none;
}
input {
    border: none;
    border-radius: 5px;
    height: 30px;
}
form > input[type=submit] { 
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #224a49;
    transition-duration: .2s;
} 
.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    border: 1px solid #224a49;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: #234e4c; 
    margin-top: 10px;
}
.botao:hover {
    background-color: #224a49;
    transition-duration: .2s;
    color: white;
}
form > a.botao > span {
    font-size: 0.8em;
}